* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal{
    position: relative;
    background:  #f0f0f2;
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-body{
    display: block;
    width: 600px;
    background: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    padding: 40px;
    margin: 5% auto;
}

.modal-body__content{
    padding: 20px 0;
}

.modal-body__link >a{
    text-decoration: none;
}